.profile-header {
  max-height: 520px;
  background-image: url(../images/brushed-alum.png);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  background-color: rgb(94, 94, 94);
}